// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store{
  .entry{
    margin: 5px;
    background: #e0f8f8;
    width: 200px;
    float: left;


    img {
      align-content: center;
    }
  }
}